*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url('astronomybg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.topbar{
    background-color: rgb(53, 53, 53);
    color: white;
    position: relative;
}
.topbar .ads{
    display: inline-block;
    background-color:black;
    width: 60%;
    color: white;
    padding: 25px;
    margin-top: 0%;
    position: absolute;
    top: 0px;
    font-size: 12px;
    font-style: normal;
    font-family: 'KoHo', sans-serif;
}
.topbar .ads i{
    position:absolute ;
    top: 5px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}
.topbar .ads i:hover{
    color: yellowgreen;
}
.topbar .ads i:active {
    color: red;
    cursor: pointer;
}
.topbar img{
    margin-left: 10px;
    width: 250px;
    height: 60px;
}
.topbar img:hover{
    transform: perspective(400px) translateZ(-20px);
}
.topbar span{
    position: absolute;
    top: 23px;
    right: 100px;
}
.topbar strong{
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 4px;
    color: black;
    background-color: white;
}
.topbar strong:hover{
    color: yellowgreen;
    cursor: pointer;
}
.topbar span:hover{
    color: yellowgreen;
    cursor: pointer;
}
.nav{
    font-size: 15px;
    font-family: 'KoHo', sans-serif;
    background-color: #444;
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.nav ul{
    list-style: none;
    background-color: #444;
}
.nav::after{
    content: "";
    display: table;
    clear: both;
}
.nav ul{
    list-style: none;
}
.nav > ul > li{
    float: left;
    position: relative;
}
.nav ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 6px 10px;
    margin: 5px;
    margin-bottom: 2px;
}
.nav ul li:hover>a{
    border-radius: 0px;
    border-bottom: 2px solid greenyellow;
    color: yellowgreen;
}
.nav ul ul{
    position: absolute;
    top: 100%;
    left: 20%;
    display: none;
    max-width: 130px;
    z-index: 1;
    margin-top: 0px;
}
.nav ul ul li:hover> a{
border: none;
}
.nav ul ul>li>a{
    background-color: #444;
}
.nav ul li:hover>ul{
    display: block;
}
.nav{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav .search-bar{
    background-color: wheat;
    height: 32px;
    border-radius: 30px;
    margin-top:3px;
    background-color: #444;
}
.nav .search-bar input{
    float: left;
    width: 220px;
    margin: 3px;
    font-size: 18px;
    color: white;
    font-family:'KoHo', sans-serif ;
    background-color: #444;
    display: none;
    border-radius: 20px;
    outline: none;
    padding-left: 5px;
    transition: 0.5s linear;
}
.nav .search-bar .search-icon{
    float: right;
    padding: 5px;
    margin: 1px;
    margin-top:3px;
    background-color: #555;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.nav .search-bar:hover input{
    display: table;
    animation: ani 0.8s linear;
    animation-fill-mode: forwards;
}
.nav .search-icon:hover{
    color: greenyellow;
}
@keyframes ani{
    0%{
        width: 0px;
    }
    100%{
        width: 220px;
    }
}
.nav .social-media{
    font-size: 16px;
    color: white;
    padding: 5px;
    margin: 3px;
    float: right;
    margin-left: 20px;
}
.nav .social-media>*{
    padding: 3px;
    font-size: 18px;
    padding-left: 6px;
}
.nav .social-media>*:hover{
    color: yellowgreen;
    cursor: pointer;
}
@media screen and (max-width:600px) {
    .nav{display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav>*:nth-child(1){
        flex: 1 1 100%;
    }
    .nav>*:nth-child(2){
        flex: 1 1 100%;
    }
    .nav>*:nth-child(3){
        flex: 1 1 100%;
    }
}
.move{
    width: 240px;
   }
   .pagging{
     display: flex;
     flex: row;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
   }
   .pagging a{
     display: inline-block;
     text-decoration: none;
     color: white;
     border: 2px solid yellowgreen;
     padding: 8px;
     border-radius:36px ;
     background-color: rgba(255, 255, 255, 0.253);
   }
   .pagging a:hover{
    color:black;
    font-weight: bold;
    background-color: white;
    text-shadow: 0px 0px 15px;
    border:3px solid cyan;
    box-shadow: 0px 0px 20px cyan;
    transition: 0.3s;
   }
   .pagging a:nth-child(2){
    color:black;
    font-weight: bold;
    background-color: white;
    text-shadow: 0px 0px 15px;
    border:3px solid red;
    box-shadow: 0px 0px 20px;
}
.planet-sun{
    display: grid;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Reggae One', cursive;
    color: white;
}
.planet-sun div{
    cursor: pointer;
    padding: 8px;
    width: 270px;
    padding-left: 22px;
    background-color: rgba(0, 0, 0, 0.452);
    transform: perspective(500px) translateZ(-100px);
}
.planet-sun div:hover{
    transition: 0.5s;
    transform: perspective(500px) translateZ(-50px);
    box-shadow: 0px 0px 10px white;
}
.planet-sun div q{
    font-size: 14px;
}
.planet-sun div img{
    width: 230px ;
    height: 140px;
}
.planet-sun div h2{
    text-align: center;
    font-weight: bold;
}
.planet{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,minmax(200px,min-content));
    grid-gap:20px;
    justify-content: space-evenly;
}
.planet div{
    cursor: pointer;
    padding: 8px;
    width: 270px;
    background-color: rgba(0, 0, 0, 0.452);
    font-family:'Reggae One', cursive ;
    font-size: 14px;
    color: white;
    transform:perspective(400px) translateZ(-100px);
}
.planet div img{
    width: 230px ;
    height: 120px;
    margin-left: 10px;
}
.planet div h2{
    font-family: 'Reggae One', cursive ;
    text-align: center;
    margin-bottom: 3px;
}

.planet div:hover{
    transition: 0.5s;
    transform: perspective(500px) translateZ(-50px);
    box-shadow: 0px 0px 10px white;
}
.space{
    width: 968px;
    height: 400px;
    margin: 0px auto;
    color: white;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.452);
}
.space ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
  
}
.space ul li{
    padding: 4px;

}
.space ul li:hover{
    color: yellowgreen;
    cursor: pointer;
    border-bottom: 2px solid yellowgreen;
}
.space main{
    background-color: rgba(255, 255, 255, 0.336);
    width: 870px;
    height: 280px;
    margin-top: 20px;
    display: flex;
}
.space main aside{
    flex: 1 1 30%;
    background-color: rgba(255, 217, 0, 0.466);
    padding: 15px;
}
.space main aside img{
    box-sizing: 0px 0px 10px;
    max-width: 90%;
    margin-bottom: 20px;
}
.space main article{
    flex: 1 1 70%;
    background-color:rgba(245, 245, 245, 0.418);
    padding: 20px;
}
.space main article h3{
    text-align: center;
    font-family:'Reggae One', cursive ;
}
.space main article p{
    margin-top: 10px;
    text-indent: 30px;
    text-align: justify;
    color: black;
}
.space main article button{
    float: right;
    padding: 2px;
   color: bla;
    background: none;
    border: none;
   
}
.space main article button:hover{
    box-shadow: 0px 0px 10px;
    color: whitesmoke;
}
.space{
    width: 80%;
    height: 500px;
    margin: 0px auto;
    color: white;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.452);
}
.space h2{
    font-family:'Reggae One', cursive ;
    padding: 3px;
}
.space ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
  
}
.space ul li{
    padding: 4px;

}
.space ul li:hover{
    color: yellowgreen;
    cursor: pointer;
    border-bottom: 2px solid yellowgreen;
}
.space main{
    background-color: rgba(255, 255, 255, 0.336);
    width: 100%;
    height: 280px;
    margin-top: 20px;
    display: flex;
}
.space main aside{
    flex: 1 1 30%;
    background-color: rgba(255, 217, 0, 0.466);
    padding: 15px;
}
.space main aside img{
    box-sizing: 0px 0px 10px;
    max-width: 90%;
    margin-bottom: 20px;
}
.space main article{
    flex: 1 1 70%;
    background-color:rgba(245, 245, 245, 0.418);
    padding: 20px;
}
.space main article h3{
    text-align: center;
    font-family:'Reggae One', cursive ;
}
.space main article p{
    margin-top: 10px;
    text-indent: 30px;
    text-align: justify;
    color: black;
}
.space main article button{
    float: right;
    padding: 2px;
   color: bla;
    background: none;
    border: none;
   
}
.space main article button:hover{
    box-shadow: 0px 0px 10px;
    color: whitesmoke;
}
.leaders{
    width: 80%;
    height: 500px;
    margin: 0px auto;
    color: white;
    padding: 50px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.452);
}
.leaders h2{
    font-family:'Reggae One', cursive ;
    padding: 3px;
}
.leaders ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
  
}
.leaders ul li{
    padding: 4px;

}
.leaders ul li:hover{
    color: yellowgreen;
    cursor: pointer;
    border-bottom: 2px solid yellowgreen;
}
.leaders main{
    background-color: rgba(255, 255, 255, 0.336);
    width: 100%;
    height: 280px;
    margin-top: 20px;
    display: flex;
}
.leaders main aside{
    flex: 1 1 30%;
    background-color: rgba(255, 217, 0, 0.466);
    padding: 15px;
}
.leaders main aside img{
    box-sizing: 0px 0px 10px;
    max-width: 90%;
    margin-bottom: 20px;
}
.leaders main article{
    flex: 1 1 70%;
    background-color:rgba(245, 245, 245, 0.418);
    padding: 20px;
}
.leaders main article h3{
    text-align: center;
    font-family:'Reggae One', cursive ;
}
.leaders main article p{
    margin-top: 10px;
    text-indent: 30px;
    text-align: justify;
    color: black;
}
.leaders main article button{
    float: right;
    padding: 2px;
   color: bla;
    background: none;
    border: none;
   
}
.leaders main article button:hover{
    box-shadow: 0px 0px 10px;
    color: whitesmoke;
}
.image-galleryflex{
    margin: 20px;
    padding: 20px;
    margin-top: 20px;
    background-color:rgba(0, 0, 0, 0.452) ;
    flex: 1 1 72%;
}
.image-galleryflex h2{
    color: white;
    font-family: 'Reggae One', cursive ;
    padding: 10px 5px;
}
.image-gallery{
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    background-color: rgba(245, 245, 245, 0.418);
}
.image-gallery  .tank1{
    flex: 30%;
    max-width: 30%;
}
.image-gallery  .tank2{
    flex: 30%;
    max-width: 30%;
}
.image-gallery  .tank3{
    flex: 30%;
    max-width: 30%;
}
.image-gallery img{
   width: 100%;
   padding: 5px;
}
.image-gallery img:hover{
    border: 1px solid gray;
    transform: perspective(400px) translateZ(10px);
    box-shadow: 0px 0px 5px white;
    transition: 0.6s;
}
@media  screen and (max-width:800px) {
    .image-gallery{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .image-gallery  .tank1{
        flex: 50%;
        max-width: 50%;
    }
    .image-gallery  .tank2{
        flex: 50%;
        max-width: 50%;
    }
    .image-gallery  .tank3{
        flex: 50%;
        max-width: 50%;
    }
}
@media  screen and (max-width:500px) {
    .image-gallery{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .image-gallery  .tank1{
        flex: 100%;
        max-width: 100%;
    }
    .image-gallery  .tank2{
        flex: 100%;
        max-width: 100%;
    }
    .image-gallery  .tank3{
        flex: 100%;
        max-width: 100%;
    }
}
.image-galleryfull{
    display: flex;
    flex-wrap: wrap;
}
.image-galleryfull .ads{
    color:white;
    background-color: black;
    box-shadow: 0px 0px 5px white;
    border-radius:4px ;
    margin-top: 20px;
    padding: 20px;
    font-family: 'KoHo', sans-serif;
    font-size: 14px;
    position: relative;
    flex: 1 1 25%;
    max-width: 25%;
}
.image-galleryfull .image-galleryflex{
    flex: 1 1 70%;
    max-width: 70%;
}
.image-galleryfull .ads i{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 20px;
    outline: none;
}
.image-galleryfull .ads i:hover{
    color:yellowgreen;
    cursor: pointer;
}
.image-galleryfull .ads i:active{
   color: red;
    cursor: pointer;
}
.newsheader{
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.452);
}
.newsheader h2{
    color: white;
    font-family: 'Reggae One', cursive;
}
.news{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgba(255, 182, 193, 0.685);
}
.news .aa{
    font-size: 30px;
    padding: 30px;
    background-color: rgba(135, 206, 250, 0.507);
}
.shop{
    display: flex;
    flex-direction: row;
    padding: 15px;
    height: 280px;
    border-radius: 8px;
    justify-content: space-around;
    background-color: rgba(255, 166, 0, 0.5);
}
.shop:last-child{
    padding-right: 40px;
}
.shop .game-a{
    flex: 1 1 22%;
    max-width: 22%;
}
.shop .game-b{
    flex: 1 1 22%;
    max-width: 22%;
}
.shop .game-c{
    flex: 1 1 22%;
    max-width: 22%;
}
.shop .game-d{
    flex: 1 1 22%;
    max-width: 22%;
}
.shop .b{
    position: relative;
    border-radius: 10px;
    font-size: 30px;
    height: 200px;
}
.shop span{
    display:inline-block ;
    color: white;
    border:1px solid cyan;
    padding:0px 4px;
    background-color:black;
    border-radius: 8px;
}
.shop span small{
    font-size: 12px;
}
.shop span strong{
    font-weight: 600;
    font-size: 18px;
}
.shop button{
    position: absolute;
    bottom: -50px;
    right: 8px;
    padding: 3px 12px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
}
.shop img{
    height: 200px;
    width: 160px;
    border-radius: 5px;
}
.games{
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.452);
}
.games h2{
    color: white;
    font-family: 'Reggae One', cursive;
}
.games-main{
    display: flex;
    flex-direction: row;
    padding: 15px;
    height: 280px;
    border-radius: 8px;
    justify-content: space-around;
    background-color: rgba(0, 255, 255, 0.445);
}
.games-main:last-child{
    padding-right: 40px;
}
.games-main .game-a{
    flex: 1 1 22%;
    max-width: 22%;
}
.games-main .game-b{
    flex: 1 1 22%;
    max-width: 22%;
}
.games-main .game-c{
    flex: 1 1 22%;
    max-width: 22%;
}
.games-main .game-d{
    flex: 1 1 22%;
    max-width: 22%;
}
.games-main .b{
    position: relative;
    border-radius: 10px;
    font-size: 30px;
    height: 200px;
}
.games-main button{
    position: absolute;
    bottom: -50px;
    right: 8px;
    padding: 3px 12px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
}
.games-main img{
    height: 200px;
    width: 160px;
    border-radius: 5px;
}
.newsgameblock{
    display: flex;
    flex-wrap: wrap;
}
.newsgameblock .ads{
    flex:1 1 20%;
    max-width: 20%;
    border: none;
    box-shadow: 0px 0px 5px white;
    border-radius: 5px;
    color: white;
    background-color: black;
    margin: 2%;
    margin-top: 0px;
    padding: 15px;
    font-family: 'KoHo', sans-serif;
    font-size: 14px;
    position: relative;
}
.newsgameblock .ads i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
.newsgameblock .ads i:hover{
    color:yellowgreen;
    cursor: pointer;
}
.newsgameblock .ads i:active{
   color: red;
    cursor: pointer;
}
.newsgame{
    flex: 1 1 75%;
    max-width: 75%;
}
footer{
    background-color:  rgb(53, 53, 53);
    color: white;
    text-align: center;
    font-family:'KoHo', sans-serif;
}
footer img{
    width: 250px;
    height: 60px;
}
footer>*:first-child{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.blocks{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    height: 100%;
}
.blocks h5{
    font-weight: bolder;
    text-align: center;
    text-shadow: 0px 0px 3px white;
    margin-bottom: 7px;
}
.blocks a{
    color: yellowgreen;
    text-decoration: none;
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
}
.blocks a:hover{
    color: white;
    transition: 0.5s;
}
.blocks ul {
    list-style: none;
}
.blocks .block1 .bestofus{
    display: block;
}
.blocks .block1{
    display: block;
}
.blocks .block1 ul{
    display: grid;
    justify-items: start;
    margin-left: 125px;
}
.blocks .block2 ul{
    display: grid;
    justify-items: start;
    margin-left: 125px;
}
.blocks .block3 ul{
    display: grid;
    justify-items: start;
    margin-left: 125px;
}
.blocks .block1 .follow i{
   font-size: 25px;
   margin: 10px;
   color: black;
}
.blocks .block1 .follow i:hover {
    color: white;
    text-shadow: 0px 0px 8px;
    cursor: pointer;
}
footer>*:last-child{
    background-color: black;
    padding: 10px;
    font-size: 14px
}
.block4 .apps .app1 .logo img{
    width: 80px;
    height: 80px;
}
.block4 .apps .app1 .app img{
    height: 30px;
    width: 100px;
}
.block4 .apps .app1 .play img{
    height: 30px;
    width: 100px;
    border: 1px solid white;
}
.block4 .apps .app1 {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
.block4 .apps .app2 .logo img{
    height: 80px;
    width: 80px;
    border: 8px;
}
.block4 .apps .app2 .app img{
    height: 30px;
    width: 100px;
}
.block4 .apps .app2 .play img{
    height: 30px;
    width: 100px;
    border: 1px solid white;
}
.block4 .apps .app2 {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

